/database/migrations/2024_09_13_215043_create_sessions_table.php
/database/migrations/2024_09_13_220124_create_page_views_table.php
/app/Models/PageView.php
/app/Models/Session.php
/app/Http/Middleware/TrackSession.php

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
